[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
neomodel = "*"
python-dotenv = "*"
nltk = "*"
feedparser = "*"
loguru = "*"
beautifulsoup4 = "*"
requests = "*"
tiktoken = "*"
openai = {extras = ["datalib"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
